:host {
  display: block;
  width: 100%;
  height: 100%;
  .sidebar{
    width: 100%;
    height: 100%;
    background-color: white;
    border-right: 1.5px solid rgb(0 0 0 / 15%);
    .sidebar_content{
      width: 100%;
      height: 100%;
      .sidebar_workspaces{
        border-bottom: 1px solid rgba(0,0,0,.1);
        .sidebar_workspace-item{
          padding: 15px;
          display: flex;
          align-items: center;
          cursor: pointer;
          img{
            width: 16px;
            margin-right: 12px;
          }
          .down{
            position: absolute;
            right: 15px;
            width: 14px;
            padding: 10px;
            border-radius: 50%;
            &:hover{
              background-color: rgba(0,0,0,.05);
            }
          }
          p{
            font-weight: bold;
            font-size: 14px;
            color: var(--ion-color-darker);
          }
        }
      }
    }
  }
}
