:host {
  display: inline-block;
  width: var(--hms-sibar-width);
  height: 100%;
  .sidebar-component{
    background-color: white;
    width: var(--hms-sibar-width);
    border-right: 1.5px solid rgb(0 0 0 / 15%);
    height: 100%;
  }
}
