.password-requisite-item{
  .require-password-item{
    font-size: 12px;
    opacity: .8;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    &.ok{
      color: #16a487;
      .status-item-circle{
        background-color: #16a487;
      }
    }
    .status-item-circle{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ed2860;
      margin-right: 10px;
    }
  }
}
