<div class="initial-container-component">
  <div class="logo">
    <img src="./../../../../../assets/illustrations/logo-dark2.svg">
  </div>
  <div class="inputs-content">
    <login-input-email (validatingEmail)="handleValidatingEmail($event)"></login-input-email>
    <button class="register" (click)="handleCreateAccount()" [class.verifying-email]="validatingEmail">
      {{validatingEmail ? 'Verificando email...' : 'Criar conta'}}
    </button>
    <button class="login" (click)="handleCreateAccount()">Já possuo uma conta</button>
  </div>
</div>
