.content-title-component{
  .title-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: .8s ease-in;
    img{
      width: 32px;
      padding-right: 20px;
      cursor: pointer;
    }
    h2{
      color: #665a92;
      font-weight: bold;
    }
  }
}
