@import "src/theme/utils.scss";
.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  @include f_align-center;
  img{
    width: 50px;
    margin-right: 20px;
  }
  h2{
    color: white;
    font-weight: bold;
  }
}
