$input-padding: 15px;
.hms-input{
  .error-message{
    color: #ed2860;
    text-align: center;
    height: 16px;
    transition: .2s;
    overflow: hidden;
    font-size: 14px;
    opacity: 0;
  }
  .input-content{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    transition: .3s ease-in;
    img{
      position: absolute;
      right: $input-padding;
      width: 16px;
      opacity: 0;
    }
    input{
      width: 100%;
      background: transparent;
      border-bottom: 2px solid rgba(0,0,0,.1);
      padding: $input-padding;
      transition: .2s;
      text-align: center;
      caret-color: black;
      &:focus{
        border-color: #2b818c;
      }
    }
  }
  &.error{
    .error-message{
      opacity: 1;
      pointer-events: none;
    }
    .input-email-content{
      img{
        opacity: 1;
      }
      input{
        border-color: #ed2860;
      }
    }
  }
}
