<ng-container *ngIf="inputControll">
  <div class="hms-input" [class.error]="inputControll.errors && inputControll.touched && errorsList.messages[errorsList.index]">
    <div class="input-content">
      <input
        #inputRef
        [ngStyle]="style.input"
        [autofocus]="inputAutofocus"
        [formControl]="inputControll"
        (focus)="handleInputFocus()"
        (blur)="handleInputBlur()"
        [placeholder]="placeholder"
      >
      <img src="./../../../../../assets/icons/alert.svg">
    </div>
    <p class="error-message" [ngStyle]="style.error">{{ errorsList.messages[errorsList.index] }}</p>
  </div>
</ng-container>
