<ng-container *ngIf="inputControll">
  <div
    class="hms-input"
    [class.error]="
      inputControll.errors && inputControll.touched && controll?.errorMessage
    "
  >
    <div class="input-content">
      <input
        #inputRef
        [ngStyle]="controll?.style?.input"
        [autocapitalize]="controll?.autocapitalize"
        [formControl]="inputControll"
        (focus)="handleInputFocus()"
        (blur)="handleInputBlur()"
        [placeholder]="controll?.placeholder"
        [type]="controll?.type"
      />
      <img src="./../../../../../assets/icons/alert.svg" />
    </div>
    <p class="error-message" [ngStyle]="controll?.style?.error">
      {{ controll?.errorMessage }}
    </p>
  </div>
</ng-container>
