<div class="toast-component">
  <ng-container *ngFor="let toast of toasts">
    <div
      class="toast-item"
      [style.top]="toast.positionY + 'px'"
      [class.show]="toast.show"
      [ngClass]="toast.ngClass"
    >
      <div class="toast-close">
        <button>
          <img src="assets/icons/close.svg" (click)="handleCloseToast(toast)" />
        </button>
      </div>
      <div class="toast-title">
        <img [src]="'assets/icons/' + toast.icon + '.svg'" />
        <h6>{{ toast.message }}</h6>
      </div>
    </div>
  </ng-container>
</div>
