<div class="login-page">
  <logo-content></logo-content>
  <illustration-content></illustration-content>
  <div class="login-form-content">
    <form [formGroup]="loginPageForm" (submit)="$event.preventDefault()">
      <div>
        <div class="initial-container inside-login-block">
          <initial-container
            [contFormGroup]="loginPageForm"
            [contentObservable]="content$"
          ></initial-container>
        </div>
        <div class="register-container inside-login-block">
          <register-container
            [contFormGroup]="loginPageForm"
            [contentObservable]="content$"
            (formReady)="handleRegisterFormReady($event)"
          ></register-container>
        </div>
        <div class="login-container inside-login-block">
          <login-container [contentObservable]="content$" [contFormGroup]="loginPageForm"></login-container>
        </div>
      </div>
    </form>
  </div>
</div>
