@use './../../../theme/scss-utils.scss' as mixins;
:host{
  &.initial .login-page{
    .login-form-content{
      form {
        .initial-container{
          opacity: 1;
          transition: .8s ease-in-out;
        }
        .register-container, .login-container{
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
  &.register .login-page{
    .login-form-content{
      form {
        .initial-container{
          opacity: 0;
          pointer-events: none;
        }
        .register-container{
          opacity: 1;
          transition: .8s ease-in-out;
        }
        .login-container{
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
  &.login .login-page{
    .login-form-content{
      form {
        .initial-container{
          opacity: 0;
          pointer-events: none;
        }
        .login-container{
          opacity: 1;
          transition: .8s ease-in-out;
        }
        .register-container{
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
  .login-page{
    height: 100%;
    background-color: #ffb95c;
    @include mixins.f_full-center;
    logo-content{
      position: absolute;
      top: 20px;
      left: 20px;
    }
    illustration-content{
      position: absolute;
      left: 0;
      width: 50%;
    }
    .login-form-content{
      flex: 1;
      transition: .8s ease-in-out;
      background: white;
      width: 45%;
      box-shadow: -12px 0px 10px 2px rgba(69, 68, 73, 0.1);
      position: absolute;
      overflow: hidden;
      height: 100%;
      right: 0;
      >form{
        .inside-login-block{
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
