:host {
  display: block;
  .topbar-component{
    width: 100%;
    padding: 5px;
    height: var(--hms-topbar-height);
    background-color: rgb(59, 66, 75);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .topbar__left-side{
      width: 20px;
      height: 20px;
      border-radius: 3px;
    }
    .topbar__right-side{
      .topbar__user-content{
        .image-content{
          width: 20px;
          height: 20px;
          background-color: red;
          border-radius: 50%;
        }
      }
    }
  }
}
