<div class="password-level-popup-component">
  <div class="password-popup" [class.show]="show">
    <div class="password-complex-status">
      <div class="complex-bar-list">
        <<ng-container *ngFor="let rule of rules+++++++++" let-i="index">
          <div class="complex-bar" [class.up]="completedLevelProgressBar >= 1"><div class="progress-bar"></div></div>
        </ng-container>
        
        <div class="complex-bar" [class.up]="completedLevelProgressBar >= 2"><div class="progress-bar"></div></div>
        <div class="complex-bar" [class.up]="completedLevelProgressBar >= 3"><div class="progress-bar"></div></div>
        <div class="complex-bar" [class.up]="completedLevelProgressBar >= 4"><div class="progress-bar"></div></div>
        <div class="complex-bar" [class.up]="completedLevelProgressBar >= 5"><div class="progress-bar"></div></div>
      </div>
      <p *ngIf="completedLevelProgressBar === 0">Nível da sua senha</p>
      <p *ngIf="completedLevelProgressBar === 1">Tá fraca.</p>
      <p *ngIf="completedLevelProgressBar === 2">Tá começando a melhorar.</p>
      <p *ngIf="completedLevelProgressBar === 3">Tá indo...</p>
      <p *ngIf="completedLevelProgressBar === 4">Tá ficando boa em!</p>
      <p *ngIf="completedLevelProgressBar === 5">Agora sim!</p>
    </div>
    <div class="require-password-item" [class.ok]="!registerForm.get('password')?.errors?.['shouldHaveUpperLetters'] && !registerForm.get('password')?.pristine">
      <div class="status-item-circle"></div>
      <p>Possui letras maiusculas</p>
    </div>
    <div class="require-password-item" [class.ok]="!registerForm.get('password')?.errors?.['shouldHaveLowerLetters'] && !registerForm.get('password')?.pristine">
      <div class="status-item-circle"></div>
      <p>Possui letras mínusculas</p>
    </div>
    <div class="require-password-item" [class.ok]="!registerForm.get('password')?.errors?.['shouldHaveNumbers'] && !registerForm.get('password')?.pristine">
      <div class="status-item-circle"></div>
      <p>Possui números</p>
    </div>
    <div class="require-password-item" [class.ok]="!registerForm.get('password')?.errors?.['shouldHavespecialCharacters'] && !registerForm.get('password')?.pristine">
      <div class="status-item-circle"></div>
      <p>Possui carácteres expeciais</p>
    </div>
    <div class="require-password-item" [class.ok]="!registerForm.get('password')?.errors?.['minlength'] && !registerForm.get('password')?.pristine">
      <div class="status-item-circle"></div>
      <p>Possui mais de 8 dígitos</p>
    </div>
  </div>
</div>