@import "src/theme/utils.scss";
$input-padding: 15px;
.hms-input{
  .error-message{
    color: #ed2860;
    text-align: center;
    height: 16px;
    transition: .2s;
    overflow: hidden;
    font-size: 14px;
    opacity: 0;
  }
  .input-content{
    @include f_align-center;
    position: relative;
    margin-bottom: 8px;
    transition: .3s ease-in;
    img.input-icon{
      position: absolute;
      left: $input-padding;
      width: 16px;
    }
    img.error-icon{
      position: absolute;
      right: $input-padding;
      width: 16px;
      opacity: 0;
    }
    input{
      width: 100%;
      background-color: rgba(0,0,0,.05);
      padding: $input-padding;
      transition: .2s;
      caret-color: black;
      border-bottom: 2px solid transparent;
      &:focus{
        border-color: #2b818c;
      }
    }
  }
  &.error{
    .error-message{
      opacity: 1;
      pointer-events: none;
    }
    .input-content{
      img.error-icon{
        opacity: 1;
      }
      input{
        border-bottom-color: #ed2860;
      }
    }
  }
}
