@import "src/theme/utils.scss";
.content-title-component{
  .title-box{
    @include f_start-centered;
    width: 100%;
    transition: .8s ease-in;
    img{
      width: 32px;
      padding-right: 20px;
      cursor: pointer;
    }
    h2{
      color: #665a92;
      font-weight: bold;
    }
  }
}
