@import "./theme/reset.scss";


@font-face {
  font-family: "Ubuntu";
  src:  url('./assets/fonts/Ubuntu-Regular.ttf'),
}

@font-face {
  font-family: "Nunito";
  src: url('./assets/fonts/NunitoSans_10pt_SemiExpanded-SemiBold.ttf');
}

body{
  font-family: "Ubuntu";
  color: #211c33;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

input{
  background-color: rgba(0,0,0,.1);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #211c33;
  &::placeholder{
    color: #4a3f6eb6;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}
