<div class="toast-component">
  <ng-container *ngFor="let toast of toasts">
    <div
      draggable="true"
      class="toast-item"
      [style.top]="toast.positionY + 'px'"
      [style.right]="toast.positionX + 'px'"
      [style.transition]="toast.transition"
      [class.show]="toast.show"
      [ngClass]="toast.ngClass"
      (dragstart)="handleDragstartToast($event, toast)"
      (drag)="handleDragToast($event, toast)"
      (dragend)="handleDragendToast(toast)"
    >
      <div class="toast-close">
        <button>
          <img src="assets/icons/close.svg" (click)="handleCloseToast(toast)" />
        </button>
      </div>
      <div class="toast-title">
        <img [src]="'assets/icons/' + toast.icon + '.svg'" />
        <h6>{{ toast.message }}</h6>
      </div>
    </div>
  </ng-container>
</div>
