<div class="register-container-component">
  <div class="title-content">
    <img
      (click)="handleBack()"
      src="./../../../../../assets/icons/arrow-to-left.svg"
    />
    <h2>Criar conta</h2>
  </div>
  <hr />
  <div class="register-form-content">
    <div class="input-box">
      <register-firstname-input></register-firstname-input>
    </div>
    <div class="input-box">
      <register-lastname-input></register-lastname-input>
    </div>
    <div class="input-box">
      <register-password-input></register-password-input>
    </div>
    <div class="input-box">
      <register-passwordconfirmation-input></register-passwordconfirmation-input>
    </div>
    <div class="footer-buttons-content">
      <button class="back" (click)="handleBack()">Voltar</button>
      <button class="send" (click)="handleSendRegister()">
        {{ !sending ? "Enviar" : "Enviando..." }}
      </button>
    </div>
  </div>
</div>
