.register-container{
  position: absolute;
  top: 0;
  padding: 30px;
  width: 100%;
  transition: .8s ease-in-out;
  height: 100%;
  .title-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: .8s ease-in;
    img{
      width: 32px;
      padding-right: 20px;
      cursor: pointer;
    }
    h2{
      color: #665a92;
      font-weight: bold;
    }
  }
  hr{
    width: 100%;
    height: 1.5px;
    background-color: rgba(0,0,0,.1);
    margin: 20px 0;
    transition: .8s ease-in;
  }

  .inputs-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-form-content{
    .input-box{
      margin-bottom: 5px;
      transition: .8s ease-in;
      &.password{
        position: relative;
        z-index: 2;
      }
      .input-register-form{
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
        input{
          width: 100%;
          background: transparent;
          border-bottom: 2px solid rgba(0,0,0,.1);
          padding: 15px;
          transition: .2s;
          text-align:left;
          &:focus{
            border-color: #2b818c;
          }
        }
        img{
          position: absolute;
          right: 15px;
          width: 16px;
          opacity: 0;
        }
      }
      .error-message{
        color: #ed2860;
        transition: .2s;
        overflow: hidden;
        font-size: 12px;
        padding-left: 15px;
        opacity: 0;
        pointer-events: none;
        height: 0;
      }
      &.error{
        .error-message{
          height: 16px;
          pointer-events: initial;
          opacity: 1;
        }
        .input-register-form {
          img{
            opacity: 1;
          }
          input{
            border-color: #ed2860;
          }
        }
      }
    }
    .footer-buttons-content{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30px;
      transition: .3s ease-in;
      position: absolute;
      width: calc(100% - 60px);
      bottom: 30px;
    }
  }
  .send{
    background: linear-gradient(45deg, #ef709b, #fa9372);
    padding: 12px 30px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    transition: .3s ease-in;
    &:hover{
      filter: brightness(0.9);
    }
  }
  .back{
    margin-top: 20px;
    padding: 10px;
    opacity: .7;
    transition: .2s;
    transition: .3s ease-in;
    &:hover{
      opacity: 1;
    }
  }
  .send{
    margin-left: 20px;
    margin-top: 0;
  }
  .back{margin-top: 0;}
}
