.home-page {
  padding: 20px;
  background-color: rgb(235, 235, 235);
  height: 100%;
  .status__list-content{
    display: flex;
    .add-status_content, .status__content{
      width: 300px;
    }
    .status__content {
      &:not(:last-child){
        margin-right: 10px;
      }
      .status__top {
        border-radius: 5px;
        border-top: 1px solid rgb(230, 85, 85);
        margin-bottom: 25px;
        padding: 10px;
        background-color: white;
        h6{
          color: #2a2e34
        }
      }
      .add-task__content{
        width: 100%;
        padding: 10px 5px;
        margin-top: 10px;
        &.creating{
          button{
            display: none;
          }
          .add-task__new-card-content{
            display: initial;
          }
        }
        button{
          text-align: center;
          color: #2a2e34;
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          &:hover{
            background-color: rgba(0,0,0,.05);
          }
        }
        .add-task__new-card-content{
          display: none;
          input{
            width: 100%;
          }
        }
      }
    }
    .add-status_content{
      &.creating{
        button{display: none;}
        .add-status__new-status-content{display: initial;}
      }
      button{
        width: 100%;
        text-align: center;
        color: #2a2e34;
      }
      .add-status__new-status-content{
        display: none;
        input{width: 100%;}
      }
    }
  }
}
