/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/reset.scss";


@font-face {
  font-family: "Ubuntu";
  src:  url('./assets/fonts/Ubuntu-Regular.ttf'),
}

@font-face {
  font-family: "Nunito";
  src: url('./assets/fonts/NunitoSans_10pt_SemiExpanded-SemiBold.ttf');
}

body{
  font-family: "Ubuntu";
  color: #211c33;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

input{
  background-color: rgba(0,0,0,.1);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #211c33;
  &::placeholder{
    color: #4a3f6eb6;
  }
}

input:autofill {
  background-color: red;
  color: inherit
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}
