<div class="initial-container-component">
  <div class="text-apresentation">
    <h2 class="enterprise-name">Bem-vindo ao Hermes!</h2>
    <p class="subtitle">Desbloqueie seu potencial, um clique de cada vez.</p>
  </div>
  <div class="inputs-content">
    <email-input (inputReady)="handleRecoveryEmailInput($event)"></email-input>
    <button
      class="register"
      (click)="handleDisplayRegisterContainer()"
      [class.verifying-email]="emailHmsControl?.pending$ | async"
    >
      {{
        (emailHmsControl?.pending$ | async)
          ? "Verificando email..."
          : "Criar conta"
      }}
    </button>
    <button class="login" (click)="handleDisplayLoginContainer()">
      Já possuo uma conta
    </button>
  </div>
</div>
