<div class="login-page">
  <div class="illustration-content">
    <figure>
      <img src="./../../../assets/illustrations/login.svg">
    </figure>
  </div>
  <div class="login-form-content">

    <form [formGroup]="registerForm">
      <div class="initial-container">
        <initial-container (createAccount)="handleDisplayRegisterContainer()" [registerForm]="registerForm"></initial-container>
      </div>
      <div class="register-container">
        <register-container [registerForm]="registerForm" (back)="handleBackToInitialContent()"></register-container>
      </div>
    </form>
  </div>
</div>
