<div class="login-page">
  <div class="illustration-content">
    <figure>
      <img src="./../../../assets/illustrations/login.svg" />
    </figure>
  </div>
  <div class="login-form-content">
    <form [formGroup]="loginPageForm">
      <div>
        <div class="initial-container inside-login-block">
          <initial-container
            [contFormGroup]="loginPageForm"
            (containerAction)="handleInitialContainerAction($event)"
          ></initial-container>
        </div>
        <div class="register-container inside-login-block">
          <register-container
            [contFormGroup]="loginPageForm"
            (displayBack)="handleDisplayBack()"
            (formReady)="handleRegisterFormReady($event)"
          ></register-container>
        </div>
        <div class="login-container inside-login-block">
          <!-- <login-container></login-container> -->
        </div>
      </div>
    </form>
  </div>
</div>
